.spinner-page {
  display: flex;
  justify-content: center;
}
.spinner-container {
  display: flex;
  justify-content: center;
}
.spinner {
  border: 10px solid rgba(255, 251, 231, 0.35);
  border-top: 10px solid #d9cd8d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
